<form [formGroup]="form" (submit)="guardarCategoria()">
    <mat-form-field appearance="outline">
        <mat-label>Nombre*</mat-label>
        <mat-icon matSuffix>fact_check</mat-icon>
        <input formControlName="nombre" matInput>
        <mat-error *ngIf="form.invalid">{{ObtenerErrorCampoNombre()}}</mat-error>
    </mat-form-field>
    <p>
        <mat-slide-toggle formControlName="sn_activo" color="primary"> Activo</mat-slide-toggle>
    </p>

    <app-cargarimagen [urlImgActual]="modelo?.foto" (archivoSelec)="archivoSelec($event)"></app-cargarimagen>

    <app-inputmarkdown></app-inputmarkdown>

    <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid">Guardar</button>
        <a mat-stroked-button routerLink="/categoria ">Cancelar</a>
    </div>
</form>