<h2>Registro Usuario</h2>

<form>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Nombre*</mat-label>
            <mat-icon matSuffix>perm_identity</mat-icon>
            <input matInput type="text">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Apellidos*</mat-label>
            <mat-icon matSuffix>perm_identity</mat-icon>
            <input matInput type="text">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Nro Identificación*</mat-label>
            <mat-icon matSuffix>perm_identity</mat-icon>
            <input matInput type="text">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Nro Celular*</mat-label>
            <mat-icon matSuffix>perm_identity</mat-icon>
            <input matInput type="text">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Dirección*</mat-label>
            <mat-icon matSuffix>perm_identity</mat-icon>
            <input matInput type="text">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Email*</mat-label>
            <mat-icon matSuffix>perm_identity</mat-icon>
            <input matInput type="email">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Usuario*</mat-label>
            <mat-icon matSuffix>perm_identity</mat-icon>
            <input matInput type="text">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Contraseña*</mat-label>
            <mat-icon matSuffix>perm_identity</mat-icon>
            <input matInput type="password" placeholder="Contraseña ">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Confirmar Contraseña*</mat-label>
            <mat-icon matSuffix>perm_identity</mat-icon>
            <input matInput type="password">
        </mat-form-field>
    </p>
    <p>
        <button mat-raised-button color="primary">Guardar</button>

        <button mat-raised-button color="warn">Cancelar</button>
    </p>
</form>